*{
    box-sizing: border-box;
    color-scheme: dark;

}

main{
    text-align: center;
    display: none;
}

main > h1{
font-size: 3rem;
font-family: sans-serif;
}

#buttons button{
    background-color: rgb(64, 169, 120);
    font-family: sans-serif;
    border-radius: 1rem;
    width: 7.5rem;
    padding: 1rem;
}

#winner-text{
    display: none;
}

input[type="text"]{
    display: block;
    text-align: center;
}


#opening-container{
    display: flex;
    flex-direction: column ;
    align-items: center;
}
#input-container{
    display: flex;
    gap: 10px
}
#input-container > input[type="button"]{
    padding: 0.5rem 2rem;
}